.home-screen-appbar {
  background-color: transparent !important;
  box-shadow: none !important;
}

.citizen-header-logo-label {
  display: flex;
}

.appbar-right-logo {
  display: flex !important;
  align-items: center !important;
}

.citizen-header-logo > img {
  width: 40px;
  height: 49px;
}

@media only screen and (max-width: 768px) {
  .app-toolbar,
  .citizen-header-logo,
  .appbar-right-logo,
  .appbar-municipal-label {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .appbar-title-label {
    display: none !important;
  }
}
