/* Language Selection  */
.language-label > div {
  color: #484848;
  font-size: 14px;
  font-weight: normal;
}

.language-label {
  padding-left: 8px;
}

.button-toggle-container {
  margin: 20px 0px 60px 8px;
}
