.footermain {
  color: #ffffff;
  font-weight: 500;
  font-family: Montserrat-Medium;
}
.footer-div {
  padding: 10px 0px;
  color: rgba(255, 255, 255, 0.7);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
}
.footer-div1 {
  padding: 10px 0px;
  color: rgba(255, 255, 255, 0.7);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  display: flex;
  align-items: center;
}
.images {
  display: flex;
  padding-top: 30px;
  padding-bottom: 15px;
  justify-content: flex-end;
}
.container {
  display: flex;
  max-width: 1200px;
  color: #ffffff;
  padding: 30px;
  margin-top: 50px;
}
.quick-links {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
}
.copyright-2019-min {
  background-color: #263748;
  padding: 10px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-family: Montserrat;
}
.imgcontent {
  display: flex;
  padding-top: 30px;
  padding-bottom: 15px;
  justify-content: flex-end;
}
.ind {
  width: 149px;
  height: 36px;
  margin-right: 20px;
}
.imgonecontent {
  display: flex;
  justify-content: flex-end;
}
.indo {
  width: 246px;
  height: 118px;
  margin-right: 10px;
}
.smart {
  width: 118px;
  height: 118px;
}
.footer-section,
.img-wrapper {
  width: 30%;
  padding-left: 30px;
}
@media screen and (max-width: 767px) {
  .footer-section {
    width: 40%;
    padding-left: 20px;
  }
  .container {
    flex-wrap: wrap;
  }
  .img-wrapper {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
  }
  .indo,
  .smart {
    width: 45%;
  }
  .imgonecontent,
  .imgcontent {
    justify-content: space-between;
    margin-right: 0;
  }
  .ind {
    width: 45%;
  }
  .smart,
  .indo {
    height: 70px;
  }
}
