.update-icon {
  background: #2ecc71;
}

.notification-top-content {
  display: flex;
  justify-content: space-between;
}

.home-notification {
  border-left: 4px solid #fe7a51;
  border-radius: 0;
  margin-top: 8px !important;
}
