.reopencomplaint-field {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  height: 231px;
  padding-top: 16px;
}

.reopencomplaint-textArea {
  padding: 16px 8px 0px 8px;
}
.reopencomplaint-button {
  /* padding-left: 16px;
  padding-right: 16px; */
  padding: 79px 16px 9px 16px;
  /* position: fixed; */
  /* bottom: 74px;
  width: 100%; */
}
