.reopencomplaint-field {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  padding-left: 12px;
  padding-top: 10px;
}
.reopencomplaint-label {
  font-size: 7px;
  font-weight: normal;
  padding-bottom: 16px;
  text-align: left;
  color: #484848;
}
.reopencomplaint-radio {
  font-size: 7px;
  font-weight: normal;
  padding-bottom: 12px;
  text-align: left;
  color: #484848;
}
.reopencomplaint-textField {
  padding-left: 12px;
  padding-top: 10px;
}
