.reopencomplaint-field {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  height: 231px;
  padding-top: 16px;
}

.reopencomplaint-textArea {
  padding: 16px 8px 0px 8px;
}
.reopencomplaint-button {
  padding: 0 8px;
  position: fixed;
  width: 100%;
  bottom: 70px;
}
.reopencomplaint-button button {
  height: 48px !important;
  line-height: 48px !important;
}
