.reopencomplaint-field {
  background-color: #ffffff;
  padding-top: 16px !important;
}

.reopencomplaint-textArea {
  padding: 24px 16px 100px 1px;
}
.reopencomplaint-upload-photo {
  margin-top: 28px;
}
.reopencomplaint-button {
  padding: 0px 16px 0px 0px;
  position: fixed;
  width: 100%;
  bottom: 80px;
  background-color: #ffffff;
}
