.search-table-assess-pay-btn {
  width: 104px;
  height: 22px;
  button {
    background-color: #fe7a51 !important;
    height: 22px !important;
    line-height: normal !important;
    span {
      font-family: "Roboto" !important;
      font-size: 12px !important;
      line-height: normal;
      text-align: center;
      color: #ffffff !important;
      padding: 0 !important;
    }
  }
}
