.color-yellow-green{
    background : #7ed321;
}
.color-deep-lilac{
    background : #8E44AD;
}
.color-white{
    color: #ffffff;
}
.color-lima{
    background : #73B332;
}
.color-lightning-yellow{
    color : #F5A623;
}
.color-grey{
    color : #767676;
}
.color-cinnabar{
    color : #E74C3C;
}
