body {
  background-color: #f2f2f2 !important;
}

body,
body p,
body div,
body span {
  color: #767676;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.3px;
}

body,
body p,
body div,
body span,
body h1,
body h2,
body h3,
body h4 {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
}

.screen {
  padding: 0 8px 60px 8px;
}

.rainmaker-displayInline {
  display: flex;
}

.rainmaker-small-font {
  font-size: 12px !important;
}

.rainmaker-big-font {
  font-size: 16px !important;
}

.rainmaker-displayInline {
  display: flex;
}

.rainmaker-small-font {
  font-size: 12px !important;
}

.rainmaker-big-font {
  font-size: 16px !important;
}

.dark-color {
  color: #484848;
}

.rainmaker-custom-gap {
  margin-bottom: 8px;
}

.text-bold {
  font-weight: 500;
}

.dark-heading {
  color: #484848 !important;
  font-weight: 500 !important;
}

.color-green {
  color: #417505 !important;
}

.color-yellow-green {
  background: #7ed321;
}
.color-deep-lilac {
  background: #8e44ad;
}
.color-white {
  color: #ffffff !important;
}

.color-lime {
  background: #73b332;
}

.color-lightning-yellow {
  color: #f5a623;
}

.color-white {
  color: #ffffff;
}

.color-lightning-yellow {
  background: #f5a623 !important;
}
.color-grey {
  color: #767676 !important;
}
.color-cinnabar {
  color: #e74c3c;
}

.width-100-per {
  width: 100%;
}

.heading {
  margin-top: 12px;
  margin-bottom: 12px;
}
