
.row-body {
    overflow: hidden;
    margin-bottom: -8px;
    margin-left: -16px !important;
}

.left-side {
  padding-bottom: 10000px;
  margin-bottom: -10000px;
  height: 100%;
}

.backgroundOrange {
  background-color: #f5a623;
}
