.reassign-success-main-screen {
  padding: 0 !important;
  height: calc(100vh - 64px);
  background: #ffffff;
}

.reassign-success-continue {
  position: fixed;
  width: 100%;
  bottom: 15px;
  left: 0;
  padding: 0 16px;
}
