.leftdiv {
  display: flex;
  align-items: center;
  padding-left: 2%;
  /* width: 100%; */
  height: 48px;
  flex-direction: row;
}
.govt-name-parent {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 4px;

  text-align: right;
  font-size: 12px;
}

.dept-name-parent {
  display: flex;
  flex-direction: column;

  padding-top: 4px;

  font-size: 12px;
  padding-left: 16px;
}

.rightDiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: "center";
  margin-left: 10px;
  padding-top: 0px;
}

@media screen and (max-width: 767px) {
  .govt-name-parent {
    font-size: 12px;
    padding: 30px 10px;
  }
  .dept-name-parent {
    font-size: 12px;
  }
  .leftdiv {
    padding-right: 10px;
  }
}
