.wizard-cont {
  padding: 0 16px 90px 16px;
  min-height: calc(100vh - 64px);
}

.wizard-footer {
  background-color: #ffffff;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.24);
  padding: 16px 16px 16px;
  position: absolute !important;
  bottom: 0;
  width: 100%;
  left: 0;
}

.breadcrumb-tab {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pt-owner-info {
  .pt-ownerinfo-title {
    margin-left: 23px;
  }
  .owner-details-form {
    display: flex;
    .name-address {
      padding: 5px 352px 0 30px;
      .textfield {
        width: 145% !important;
      }
      .dropdown {
        display: block !important;
      }
    }
    .relationship-details {
      display: flex;
      div:nth-of-type(1) {
        margin-right: 35px;
      }
    }
  }
}

.breadcrumb {
  padding: 0;
}
