.logo-container{
    width: 100%;
    position: absolute;
    top: 28%;
    text-align: center; 
    z-index: 100;
}

.user-screens-wrapper .logo {
  margin: 0 auto;
  display: block;
  width: 90px;
}

.imageContainer {
  position: relative;
  background-image: url(../../../../assets/images/banner-muncipal.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
}

.cardBackground {
  position: relative;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-size: contain;
  height: 350px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}

.bottom-logo{
  position: absolute;
  width : 100%;
  bottom: 10px;
  padding : 10px;
}

.mseva-logo {
  margin: 0 auto;
  display: block;
  width: 90px;
}

.user-screens-wrapper .user-screens-card{
    position: absolute !important;
    top: 35%;
    left: 25px;
    right: 25px;
    padding: 16px !important;
}