.logo-container{
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center; 
    z-index: 100;
}

.user-screens-wrapper .logo {
  margin: 0 auto;
  display: block;
  width: 100px;
}

.imageContainer {
  position: relative;
  background-image: url(../../../../assets/images/banner-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.bottom-logo{
  position: fixed;
  width : 100%;
  top: 50px;
  padding : 10px;
}

.mseva-logo {
  margin: 0 auto;
  display: block;
  width: 90px;
}

.user-screens-wrapper .user-screens-card{
    position: absolute !important;
    bottom: 10px;
    left: 8px;
    right: 8px;
    padding: 16px !important;
}