.pt-tax-calc-details-btn {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: #fe7a51;
}
.tax-calculation-card-header {
  padding-left: 24px !important;
  button {
    width: auto !important;
  }
}

.tax-header-price {
  letter-spacing: 0.9px;
  color: #484848;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;

  .pt-total {
    margin-left: 50px;
  }
}

.pt-rf-detailed-bill {
  width: 454px;
  background-color: #f2f2f2;
  .pt-rf-detailed-bill-table {
    border-bottom: solid 1px #b3b3b3;
    margin-left: 16px;
    margin-right: 76px;
    .pt-rf-detailed-bill-points {
      margin: 16px 0px 16px 0px;
    }
  }
  .pt-rf-detailed-bill-total,
  .pt-rf-detailed-bill-text {
    padding: 16px 76px 16px 16px;
    .pt-rf-price {
      font-family: "Roboto";
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.9px;
      color: #fe7a51;
    }
  }
  .pt-rf-price {
    float: right;
  }
  .pt-rf-detailed-bill-text,
  .pt-rf-price {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.6px;
    color: #484848;
  }
}
