.complaints-main-container {
  position: relative;
}

.complaints-card-main-cont:last-child {
  margin-bottom: 80px;
}

.floating-button-cont {
  position: fixed;
  right: 3%;
  bottom: 10%;
}

.complaint-card {
  padding: 0 !important;
  margin: 8px 0 !important;
}

.complaints-card-main-cont {
  margin-top: 16px;
}

.complaint-card-wrapper {
  padding: 14px 20px 4px 20px;
}

.complaint-track-button {
  padding: 2px 8px !important;
}

.complaint-track-button div {
  max-height: 17px;
}

.complaint-header-cont {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.complaint-header,
.complaint-status-text {
  font-size: 16px;
  color: #484848;
  font-weight: 500;
  line-height: 1;
}

.complaint-address-cont,
.complaint-status-cont,
.complaint-image-cont,
.complaint-header-cont {
  padding-bottom: 13px;
}

.complaint-address-cont {
  display: flex;
}

.complaint-image-cont:last-child {
  padding: 0;
}

.complaint-address {
  font-size: 16px;
  text-align: left;
  color: #767676;
  font-family: Roboto;
}

.complaint-address-cont > svg {
  color: #969696 !important;
  fill: currentColor !important;
  padding: 0 !important;
  margin-right: 10px;
  width: 17px !important;
  height: 17px !important;
}

.complaint-image-cont {
  white-space: nowrap;
  overflow: none;
}
.complaint-image-cont img {
  display: inline-block !important;
  margin-right: 14px;
}

.complaint-image-cont img:last-child {
  margin: 0;
}
