.complaints-card-main-cont{
    font-family: Roboto;
}

.complaint-card-wrapper{
    padding:10px 0;
}

.complaint-header-cont{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.complaint-header{
    font-size: 17px;
    color: #484848;
    font-weight: 900;
}

.complaint-address-cont, .complaint-status-cont, .complaint-image-cont{
    padding: 5px 0;
}

.complaint-address, .complaint-status-text{
    font-size: 17px;
    text-align: left;
    color: #767676;
    font-family: Roboto;
}

.dummy-div-for-last-card{
    height:20px;
}

.location-marker{
    color:#969696 !important;
    margin-right: 10px;
    width: 17px !important;
    height: 17px !important;
}

.complaint-image-cont img{
    display:inline-block !important;
    margin-right:3%
}

.complaint-image-cont img:last-child{
    margin: 0;
}

