.feedback-main-container {
  position: relative;
}

.feedback-Card-container {
  background-color: #ffffff;
  padding: 15px 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);
}

.feedback-lastCard-container {
  margin-bottom: 140px;
}

.feedback-infoCard-container {
  padding: 18px 23px;
}

.feedback-firstCard-heading,
.feedback-firstCard-subheading {
  font-size: 15px;
  color: #767676;
  line-height: 1;
}

.feedback-firstCard-top {
  text-align: center;
}

.feedback-firstCard-bottom {
}

.feedback-buttongroup-cont {
  padding-top: 15px;
}

.feedback-button-cont {
  padding: 0 10px;
  position: fixed;
  width: 100%;
  bottom: 65px;
}

.feedback-textarea-label {
  font-size: 15px;
  color: #767676;
}
