.general-form-cont-padding {
  padding: 0 100px 0 0 !important;
}

.general-field-padding {
  padding: 0 60px 0 0 !important;
}

.datepicker-icon {
  position: absolute;
  right: 80px;
  top: 30px;
  pointer-events: none;
  cursor: pointer;
}
