.profileFormContainer {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
  border: 1px solid #e6e6e6;
  padding: 13px 8px 8px 8px;
}


.profileBtn {
  height: 48px;
  position: fixed;
  bottom: 65px;
  padding: 0 8px;
  box-shadow: none !important;
}

.profileContainer {
  position: relative;
}

.profile-form-field > label {
  color: "#3498db";
}

.profileContainer {
  position: relative;
}
