.profileCardContainer {
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
  border: 1px solid #e6e6e6;
}

.profileCardContainer .wrapper .right {
  width: 70%;
  float: right;
}

.profileCardContainer .wrapper .left {
  width: 100%;
  padding: 10px;
  text-align: left;
}

.profileCardContainer .label {
  display: block;
  margin-bottom: 2%;
  color: #6090ae;
}
