.profileFormContainer {
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
  border: 1px solid #e6e6e6;
  padding: 13px 8px 8px 8px;
}
.profile-form-field > input {
  margin-top: 10px !important;
}

.dropdown > div {
  margin-top: 6px !important;
}

.profileBtn {
  height: 48px;
}
