.profileFormContainer {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
  border: 1px solid #e6e6e6;
  padding: 15px;
}

.profileBtn {
  height: 48px;
  padding: 0 16px 0 16px;
  box-shadow: none !important;
}

.profileBtnWrapper {
  position: fixed;
  width: 100%;
  bottom: 24px;
}

.profileContainer {
  position: relative;
}

.profile-form-field > label {
  color: #03b0c6 !important;
}

.profileContainer {
  position: relative;
}
