.home-page-content {
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 70px;
}

.home-page-content-card-margin {
  margin-top: 20px;
}


.row-body {
    overflow: hidden;
}

.left-side {
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  height: 100%;
}

.right-side {
    display: table-cell;
}
