.home-page-content {
  position: absolute !important;
  top: 75%;
  left: 8px;
  right: 8px;
  margin-bottom: 70px;
}

.homepage-banner.user-screens-wrapper{
    height: 30vh;
}

.homepage-banner .logo-wrapper {
  top: 30%;
}
