.home-page-content {
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 70px;
  margin-top : -20px;
}

.home-page-content-card-margin {
  margin-top: 20px;
}

/* Wrapper*/
.wrapper{
  display : table;
  width : 100%;
  margin-bottom : -8px
}


.left,.right{
   display : table-cell;
   vertical-align : middle;
 }

.left{
  width : 10%;
  text-align : center;
}

.right{
  width : 90%;
  padding: 0px 10px; 
}