.reject-complaint-main-container {
  position: relative !important;
  padding: 16px 16px 0 16px !important;
  background: #ffffff;
  height: calc(100vh - 64px); }

.reject-complaint-textArea {
  padding: 24px 16px 250px 1px; }

.reject-complaint-button {
  position: fixed !important;
  width: 100%;
  bottom: 12px;
  left: 0px;
  padding: 8px !important; }
