.employee-change-password {
  background: white;
  height: calc(100vh - 64px);
}

.employee-change-passwd-submit {
  position: fixed !important;
  bottom: 16px;
  left: 0;
  padding: 0px 8px 0px 8px;
  box-shadow: none !important;
}

.employee-change-passwd-screen {
  padding-bottom: 0px !important;
}
