.moduleCardTitle,
.moduleCardDescription {
  padding: 0;
  margin: 0; }

.parentCard {
  background-color: red !important; }

.moduleCardTitle div {
  font-size: 20px !important;
  letter-spacing: 0.5px;
  color: #000000;
  padding: 12px 0px; }

.moduleCardDescription div {
  font-size: 14px !important;
  letter-spacing: 0.5px;
  padding-top: 5px;
  padding-bottom: 32px;
  color: #767676; }

@media only screen and (max-width: 768px) {
  .pt-landing-card {
    display: none; } }
