.wizard-form-main-cont {
  padding: 12px 0px 0px 0px;
  position: relative; }

.owner-gender-selection {
  display: flex; }

.pt-ownerinfo-deletebtn {
  float: right !important;
  margin-top: -30px; }

.pt-owner-info .pt-ownerinfo-title {
  margin-left: 23px; }

.pt-owner-info .owner-details-form {
  display: flex; }
  .pt-owner-info .owner-details-form .name-address {
    padding: 5px 352px 0 30px; }
    .pt-owner-info .owner-details-form .name-address .textfield {
      width: 145% !important; }
    .pt-owner-info .owner-details-form .name-address .ownerCategory {
      width: 145% !important;
      display: flow-root !important; }
  .pt-owner-info .owner-details-form .relationship-details {
    display: flex; }
    .pt-owner-info .owner-details-form .relationship-details div:nth-of-type(1) {
      margin-right: 35px; }
  .pt-owner-info .owner-details-form .ownerCategoryIdType {
    width: 100% !important; }
  .pt-owner-info .owner-details-form .dropdown {
    display: flow-root !important; }

.pt-owner-info .property-corr {
  margin-left: 12px; }
  .pt-owner-info .property-corr label {
    color: #484848 !important;
    font-weight: 500; }

.pt-institute-authority-info {
  margin-left: 25px; }
  .pt-institute-authority-info .pt-authority-title {
    display: flex; }
    .pt-institute-authority-info .pt-authority-title span:nth-of-type(2) {
      margin-top: 2px;
      margin-left: 5px; }
  .pt-institute-authority-info .authority-details-form {
    display: flex; }
    .pt-institute-authority-info .authority-details-form .name-address .textfield {
      width: 117% !important; }
    .pt-institute-authority-info .authority-details-form .address {
      margin-left: 130px; }
    .pt-institute-authority-info .authority-details-form .property-corr > div {
      margin-top: 2px !important; }
    .pt-institute-authority-info .authority-details-form .property-corr label {
      color: #484848 !important;
      font-weight: 500; }

.breadcrumb {
  padding: 0; }

.pt-add-owner-btn {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  color: #fe7a51; }

.grayout {
  box-shadow: none;
  background-color: #f6f6f6 !important; }

.payment-details {
  margin-top: 20px; }
  .payment-details .tax-header {
    display: flex; }
    .payment-details .tax-header .label-text {
      width: 245px;
      height: 19px;
      font-size: 16px;
      font-weight: 900;
      line-height: normal;
      letter-spacing: 0.7px;
      color: #484848; }
  .payment-details .receipt-details {
    background-color: white;
    margin-bottom: 18px;
    padding: 10px; }
    .payment-details .receipt-details .receipt-header .label-text {
      height: 19px;
      font-size: 16px;
      font-weight: 700;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.7px;
      color: #484848;
      padding-left: 11px;
      font-size: 14px;
      padding-top: 10px; }
    .payment-details .receipt-details .receipt-info {
      margin-top: 7px;
      display: flex; }
      .payment-details .receipt-details .receipt-info .textfield:nth-of-type(1) {
        width: 35% !important;
        margin-left: 15px; }
      .payment-details .receipt-details .receipt-info .textfield:nth-of-type(2) {
        width: 35% !important;
        margin-left: 237px; }
  .payment-details .bill-dates-payment {
    display: flex; }
    .payment-details .bill-dates-payment .detaild-bill {
      width: 442px;
      height: 274px;
      background-color: #f2f2f2; }
      .payment-details .bill-dates-payment .detaild-bill .tax-breakup .header {
        font-size: 14px;
        font-weight: 900;
        position: relative;
        top: 18px;
        left: 27px;
        line-height: normal;
        letter-spacing: 0.6px;
        color: #484848;
        display: block;
        margin-bottom: 40px; }
      .payment-details .bill-dates-payment .detaild-bill .tax-breakup .tax-list {
        list-style-type: none !important;
        margin-right: 36px !important;
        padding-left: 28px; }
        .payment-details .bill-dates-payment .detaild-bill .tax-breakup .tax-list .tax-item {
          display: flex;
          justify-content: space-between;
          margin-bottom: 9px; }
      .payment-details .bill-dates-payment .detaild-bill .total-section {
        display: flex;
        justify-content: space-between;
        margin-right: 36px;
        margin-left: 29px;
        margin-top: 10px; }
    .payment-details .bill-dates-payment .date-details {
      margin-top: 11px;
      margin-left: 30%; }
      .payment-details .bill-dates-payment .date-details .date-header .label-text {
        width: 112px;
        height: 16px;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.6px;
        text-align: left;
        color: #484848; }
      .payment-details .bill-dates-payment .date-details .header {
        font-size: 14px;
        font-weight: 700;
        text-align: left;
        color: #484848; }
      .payment-details .bill-dates-payment .date-details ul {
        padding: 0;
        list-style-type: none;
        margin-top: 20px;
        width: 400px; }
        .payment-details .bill-dates-payment .date-details ul li {
          display: flex;
          justify-content: space-between;
          margin-bottom: 8px; }
          .payment-details .bill-dates-payment .date-details ul li span:nth-of-type(1) {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.6px;
            text-align: left;
            color: #767676; }
          .payment-details .bill-dates-payment .date-details ul li span:nth-of-type(2) {
            color: black; }
  .payment-details .addl-details button {
    position: initial !important;
    height: initial !important;
    padding: 0 !important;
    margin-left: 53% !important; }
    .payment-details .addl-details button svg {
      margin-left: 80%; }
  .payment-details .addl-details .view-details {
    width: 99px;
    height: 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #fe7a51; }
  .payment-details .payment-modes {
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: white; }
    .payment-details .payment-modes .payment-mode-info {
      padding: 2px 18px;
      width: 42.5%; }
    .payment-details .payment-modes .payment-modes-header {
      height: 19px;
      font-size: 16px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.7px;
      color: #484848;
      padding-left: 27px; }
    .payment-details .payment-modes .textfield {
      display: flow-root !important; }
    .payment-details .payment-modes .dropdown {
      display: flow-root !important;
      width: 100% !important; }
    .payment-details .payment-modes .payer-details {
      margin: 16px 30px 7px 18px; }
      .payment-details .payment-modes .payer-details .cash-info {
        justify-content: space-between;
        display: flex; }
        .payment-details .payment-modes .payer-details .cash-info .name-paidby {
          width: 40%; }
        .payment-details .payment-modes .payer-details .cash-info .mobile-number {
          width: 40%; }
          .payment-details .payment-modes .payer-details .cash-info .mobile-number .empty {
            height: 72px; }
    .payment-details .payment-modes .cheque-details {
      margin: 20px 30px 20px 18px; }
      .payment-details .payment-modes .cheque-details .cheque-info {
        display: flex;
        justify-content: space-between; }
        .payment-details .payment-modes .cheque-details .cheque-info .no-name {
          width: 40%; }
        .payment-details .payment-modes .cheque-details .cheque-info .date-branchr {
          width: 40%; }
    .payment-details .payment-modes .demand-details {
      margin: 20px 30px 20px 18px; }
      .payment-details .payment-modes .demand-details .demand-info {
        display: flex;
        justify-content: space-between; }
        .payment-details .payment-modes .demand-details .demand-info .no-name {
          width: 40%; }
        .payment-details .payment-modes .demand-details .demand-info .date-branchr {
          width: 40%; }
    .payment-details .payment-modes .mode-title {
      font-size: 16px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.6px;
      color: #484848; }
    .payment-details .payment-modes .card-details {
      margin: 20px 30px 11px 18px; }
      .payment-details .payment-modes .card-details .card-info {
        display: flex;
        justify-content: space-between; }
        .payment-details .payment-modes .card-details .card-info .card-no {
          width: 40%; }
        .payment-details .payment-modes .card-details .card-info .receipt {
          width: 40%; }
          .payment-details .payment-modes .card-details .card-info .receipt .empty {
            height: 72px; }
    .payment-details .payment-modes .list-header .label-text {
      font-size: 16px;
      font-weight: 700;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.6px;
      color: #484848; }

.review-pay-tab .dropdown > div > div div:nth-of-type(2) {
  color: #484848 !important; }

.review-pay-tab .textfield div:nth-of-type(1) {
  opacity: 0 !important; }

.review-pay-tab .autosuggest input {
  color: #484848 !important; }

.review-pay-tab .rainmaker-card .rainmaker-card {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

input[type="radio"] {
  -webkit-appearance: none;
  width: 17px;
  height: 17px;
  border: 1px solid grey;
  border-radius: 50%;
  outline: none; }

input[type="radio"]:before {
  content: "";
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%; }

input[type="radio"]:checked {
  border: 1px solid #fe7a51; }

input[type="radio"]:checked:before {
  background: #fe7a51; }

.propertyAddress .textfield-text div,
.ifsc-field .textfield-text div {
  width: 60px;
  color: #fe7a51 !important;
  margin-right: 12px !important; }

.pt-emp-property-address-city div > div div:nth-of-type(2),
.pt-floor-name div > div div:nth-of-type(2) {
  color: #484848 !important; }

.checkbox-container > div > div > div {
  margin-right: 4px !important; }
  .checkbox-container > div > div > div div > svg:nth-of-type(2) {
    fill: #fe7a51 !important; }

.remove-unit-assessment {
  float: right; }

div[class^="floorDetails_"] .text-left {
  margin-left: 15px; }

div[class^="MuiPaper-root"] svg text,
.stepper-container svg text {
  fill: #fff;
  font-size: 1.2rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif; }

div[class^="MuiPaper-root"] svg circle,
div[class^="MuiPaper-root"] svg path,
.stepper-container svg circle,
.stepper-container svg path {
  color: #fe7a51; }

div[class^="MuiPaper-root"] [class*="MuiStepLabel"],
.stepper-container [class*="MuiStepLabel"] {
  color: rgba(0, 0, 0, 0.87); }

div[class^="MuiPaper-root"] > div > span > span:nth-of-type(2) > span,
.stepper-container > div > span > span:nth-of-type(2) > span {
  font-size: 14px; }

#tax-wizard-buttons {
  height: 64px;
  padding: 8px; }

@media only screen and (max-width: 704px) {
  #tax-wizard-buttons {
    text-align: initial;
    text-align: initial;
    margin: 0;
    padding: 0;
    height: initial; }
    #tax-wizard-buttons .button-container {
      float: none;
      display: flex;
      width: 100%;
      margin: initial;
      padding: initial; }
      #tax-wizard-buttons .button-container div:nth-of-type(1),
      #tax-wizard-buttons .button-container div:nth-of-type(2) {
        width: 100% !important;
        margin: 0 !important; }
  .stepper-container {
    padding: 0px !important;
    margin-top: 73px; } }

@media only screen and (max-width: 768px) {
  .propertyAddress, .pt-review-form, .ownerInfo, .bill-details, .basicInformation, .plotDetails, .ownershipType, .date-details-container {
    padding: 0px !important; }
  .owner-gender-selection.RadioComp {
    display: block; }
  .MuiStepLabel-labelContainer-47 > span {
    font-size: 12px !important; } }
