.complaint-details-action-buttons {
  position: fixed;
  bottom: 0;
  background: white;
  padding: 6px 8px;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-button-one,
.action-button-two {
  box-shadow: none !important;
  background-color: transparent !important;
  width: 45%;
}
.action-button-two {
  margin-left: 20px;
}

@media only screen and (min-width: 768px) {
  .compalint-details-action-buttons {
    justify-content: flex-end;
    position: absolute;
  }

  .compalint-details-action-buttons button {
    width: 230px !important;
  }
}
