.actionMenuSearchBox {
  background-color: #3d4951 !important;
  color: white;
  height: 40px !important;
  margin-top: 22px;
}

.whiteColor {
  color: white !important;
}

.pointerCursor {
  cursor: pointer;
}

.actionMenuFibreIcon {
  width: 8px;
  height: 8px;
}
.actionMenuMenu {
  display: inline-block !important;
  width: 100%;
}

.custom-style-for-send {
  transform: rotate(-20deg);
}


.sideMenuItem:hover{
  background-color: rgba(254, 122, 81, 0.11999999731779099);

  // > div > span > div > div {
  //   padding: 0 0 0 72px !important;
  // }

  div:nth-of-type(1) > span {
    background: none !important;
    div > div > div > span{
      color:#FE7A51 !important;
    }
  }
  .iconClassHover{
    fill:#FE7A51 !important;
  }

  .menuStyle {
    overflow: visible;
    text-overflow: initial !important;
    white-space: initial !important;
  }
}

.sideMenuItem > div > span > div > div {
  padding: initial !important;
}
