.pt-search-table-action {
  width: 104px;
  height: 22px; }
  .pt-search-table-action button {
    background-color: #fe7a51 !important;
    height: 23px !important;
    line-height: normal !important; }
    .pt-search-table-action button span {
      font-family: "Roboto" !important;
      font-size: 12px !important;
      line-height: normal;
      text-align: center;
      color: #ffffff !important;
      padding: 0 !important; }

.search-no-property-found {
  text-align: center; }
  .search-no-property-found .new-assess-btn {
    width: 214px;
    margin: 0px auto; }
  .search-no-property-found .no-search-text {
    margin-bottom: 17px;
    margin-top: 36px; }
