# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/packages/egov-ui-kit
/packages/egov-ui-framework
/packages/pgr-citizen
/packages/pgr-employee
/packages/pt-citizen
/packages/pt-employee
/packages/egov-ui-framework-core/node_modules
/packages/pgr-citizen-dev/node_modules
/packages/pgr-employee-dev/node_modules
/packages/pt-citizen-dev/node_modules
/packages/pt-employee-dev/node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
