.reassigncomplaint-field {
  background-color: #ffffff;
  padding-top: 16px !important;
}

.reassigncomplaint-textArea {
  padding: 24px 16px 250px 1px;
}

.reassigncomplaint-button {
  padding: 8px !important;
  position: fixed !important;
  left: 0px;
  bottom: 30px;
  width: 100%;
  background-color: #ffffff;
}
