.pt-service-list {
  margin-top: 35px;
  margin-bottom: 35px;
}

.pt-new-property,
.pt-search-property,
.pt-my-properties {
  cursor: pointer;
}

.pt-new-property,
.pt-search-property {
  border-right: 2px solid #e5e7e9;
}

.property-tax-card {
  padding: 0px !important;
}

.pt-home-rainmaker-displayInline {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

@media only screen and (min-width: 768px) {
  .pt-home-screen {
    padding: 16px 16px 60px 16px !important;
  }
}
