body {
  background-color: #f2f2f2 !important;
}

body,
body p,
body div {
  color: #767676;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.3px;
}

body,
body p,
body div,
body span,
body h1,
body h2,
body h3,
body h4 {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
}

.screen {
  padding: 0 8px 60px 8px;
}

.rainmaker-displayInline {
  display: flex;
}

.rainmaker-small-font {
  font-size: 12px !important;
}

.rainmaker-big-font {
  font-size: 16px !important;
}

.rainmaker-displayInline {
  display: flex;
}

.rainmaker-small-font {
  font-size: 12px !important;
}

.rainmaker-big-font {
  font-size: 16px !important;
}

.dark-color {
  color: #484848;
}

.rainmaker-custom-gap {
  margin-bottom: 8px;
}

.text-bold {
  font-weight: 500;
}

.dark-heading {
  color: #484848 !important;
  font-weight: 500 !important;
}

.color-green {
  color: #417505 !important;
}

.color-yellow-green {
  background: #7ed321;
}
.color-deep-lilac {
  background: #8e44ad;
}
.color-white {
  color: #ffffff !important;
}

.color-lime {
  background: #73b332;
}

.color-lightning-yellow {
  color: #f5a623;
}

.color-white {
  color: #ffffff;
}

.color-lightning-yellow {
  background: #f5a623 !important;
}
.color-grey {
  color: #767676 !important;
}
.color-cinnabar {
  color: #e74c3c;
}

.width-100-per {
  width: 100%;
}

.heading {
  margin-top: 12px;
  margin-bottom: 12px;
}

/*  override body backkground */
body.citizen-user-profile,
body.citizen-contact-us,
body.citizen-reopen-complaint,
body.citizen-complaint-submitted,
body.employee-user-profile {
  background: #ffffff !important;
}

.screenHeaderLabelStyle .label-text {
  font-size: 20px !important;
  font-weight: 500;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (min-width: 768px) {
  .screenHeaderLabelStyle .label-text {
    color: #484848 !important;
    font-size: 14px !important;
  }
}

.inline-Localization-text .label-container {
  display: inline-block;
}

.search-input-style {
  border-radius: 4px;
}
.btn-with-bottom-nav {
  position: fixed !important;
  //bottom: 56px; use this value if bottom navigation is included in future design
  bottom: 0px;
  left: 0;
  width: 100%;
  padding: 0px !important;
}
.btn-without-bottom-nav {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  padding: 0px !important;
}

.app-content {
  -moz-transition: left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: left 218ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 0;
  width: auto !important;
  right: 0 !important;
  position: relative !important;
}

.app-content.expanded {
  padding-left: 230px;
  overflow-x: hidden;
}

.drawer-backGround {
  background-color: #3d4951 !important;
  font-size: 14px;
  letter-spacing: 0.6px;
  text-align: left;
  color: #ffffff !important;
}

.drawerHeader {
  padding: 12px 25px;
  width: 230px;
  height: 64px;
  background-color: #00bbd3;
}

.drawerContent {
  padding: 22px 24px;
  width: 230px;
  // overflow: scroll;
}

.menuStyle .onHoverText {
  visibility: hidden;
  width: 100%;
  float: left;
  background-color: #00bbd3;
  color: #fff;
  // text-align: center;
  border-radius: 2px;
  padding: 0px 0px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  margin-left: -40px;
  padding-left: 20px;
}

.drawer-backGround a:hover {
  text-decoration: none;
}

.action-menu-drawer .drawer-backGround {
  top: 64px !important;
}

.menuStyle:hover .onHoverText {
  visibility: visible;
}

.action-menu-drawer {
  background-color: #3d4951;
  min-height: calc(100vh - 64px);
  position: fixed;
}

.responsive-action-button-cont {
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0;
}

.background-white {
  background: #fff;
  min-height: calc(100vh - 64px);
}

.custom-padding-for-screens {
  position: relative;
  padding: 10px 16px 0 16px;
}

@media only screen and (max-width: 768px) {
  .show-action-menu {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .screen-title-label {
    display: none;
  }
}

.title-white-background {
  background-color: #ffffff !important;
}

@media only screen and (min-width: 768px) {
  .responsive-action-button-cont {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: flex-end;
    padding: 6px 8px;
    left: 0;
  }

  .responsive-action-button {
    width: 230px !important;
    min-width: inherit !important;
  }

  .screen {
    padding: 0 0 60px 0;
    min-height: calc(100vh - 124px);
  }

  .form-without-button-cont-generic {
    padding: 0 8px;
  .pgr-call-icon {
    pointer-events: none;
  }
}
@media only screen and (max-width: 768px) {
  .pgr-call-icon span {
    display: none !important;
  }
}
