.contactus-list-container {
  padding: 37px 0px 16px 0px;
}

.contactus-main-card > div {
  padding-top: 42px;
}

.contactus-main-cont {
  height: 100%;
  width: 100%;
  padding-bottom: 130px;
  background: #ffffff;
}

.contactus-main-card .mseva-logo {
  width: 40% !important;
}

.contactus-main-card {
  margin: 0px;
  padding: 0px;
  height: 100%;
  border-radius: 0px;
  box-shadow: none;
}
