.contactus-list-container {
  padding: 37px 0px 16px 0px;
}

.contactus-main-card > div {
  padding-top: 42px;
}

.contactus-main-cont {
  height: 100%;
  width: 100%;
  padding-bottom: 130px;
  background: #ffffff;
}

.contactus-main-card .mseva-logo {
  width: 40% !important;
}

.contactus-main-card {
  margin: 0px;
  padding: 0px;
  height: 100%;
  border-radius: 0px;
  box-shadow: none;
}

.contactus-main-cont .searchBoxStyles,
.contactus-main-cont .search-icon {
  display: none;
}

.contactus-main-cont .back-btn {
  position: absolute !important;
  background: transparent;
  top: 76px;
  margin-left: 15px;
  z-index: 3;
}
