.mseva-logo-top {
  margin: 0 auto;
  display: block;
  width: 150px;
}

.contactus-list-container {
  padding: 37px 0px 16px 0px;
}

.contactus-main-card > div {
  padding-top: 15px;
}

.contactus-main-cont {
  padding: 0px 8px;
}
