.report-excel-button,
.report-pdf-button {
  color: #fe7a51 !important;
  border: none !important;
}

.report-result-table {
  color: #484848;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.13), 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  // margin: 16px;
}
.report-title {
  margin: 16px;
  color: #484848;
  font-size: 20px;
}
.report-table-header th {
  border-top: 1px solid #e0e0e0 !important;
  border-bottom: 1px solid #e0e0e0 !important;
}
.report-download-button-text {
  border: none !important;
  pointer-events: none;
}
.report-download-button-text:active,
.report-download-button-text:hover {
  box-shadow: none !important;
  background-color: #ffffff !important;
}
.show-field-label .label-text {
  display: inline;
}
.report-result-table-header {
  margin-top: 8px;
  font-weight: 500;
  font-size: 14px;
  color: #484848;
}

@media only screen and (max-width: 704px) {
  #reportTable_wrapper {
    overflow: scroll;
  }
}
