.past-payment-form {
  display: flex;
  justify-content: space-between; }
  .past-payment-form .receipt {
    width: 25% !important; }
  .past-payment-form .amount {
    width: 25% !important; }
  .past-payment-form .checkbox-container {
    width: 25% !important; }
    .past-payment-form .checkbox-container label {
      font-weight: normal;
      color: black; }

@media only screen and (max-width: 768px) {
  .past-payment-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .past-payment-form .receipt {
      width: 100% !important; }
    .past-payment-form .amount {
      width: 100% !important; }
    .past-payment-form .checkbox-container {
      width: 100% !important; } }
