.add-row-mdms-table {
  min-width: 72px !important;
  font-size: 12px;
  font-weight: 500;
  margin-top: 33px;
  margin-bottom: 8px;
  button {
    width: 72px !important;
    height: 22px !important;
    min-width: 72px !important;
    color: #ffffff !important;
    line-height: 22px !important;
  }
  span {
    padding-left: 8px !important;
    color: #ffffff !important;
  }
}
