.wizard-form-main-cont {
  padding: 0;
  position: relative;
}

.owner-gender-selection {
  display: flex;
}

.pt-ownerinfo-deletebtn {
  float: right !important;
  margin-top: -30px;
}

.pt-owner-info {
  .pt-ownerinfo-title {
    margin-left: 23px;
  }
  .owner-details-form {
    display: flex;
    .name-address {
      padding: 5px 352px 0 30px;
      .textfield {
        width: 145% !important;
      }
      .dropdown {
        display: flow-root !important;
      }
    }
    .relationship-details {
      display: flex;
      div:nth-of-type(1) {
        margin-right: 35px;
      }
    }
    .dropdown {
      display: flow-root !important;
    }
  }
}

.pt-institute-authority-info {
  margin-left: 25px;
  .pt-authority-title {
    display: flex;
    span:nth-of-type(2) {
      margin-top: 2px;
      margin-left: 5px;
    }
  }
  .authority-details-form {
    display: flex;
    .name-address {
      width: 50%;
      .textfield  {
        width: 77% !important;
      }
    }
    .address {
      margin-left: 130px;
    }
  }
}

.breadcrumb {
  padding: 0;
}

.pt-add-owner-btn {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  color: #fe7a51;
}
