.wizard-form-main-cont {
  padding: 12px 0px 0px 0px;
  position: relative;
}

.owner-gender-selection {
  display: flex;
}

.pt-ownerinfo-deletebtn {
  float: right !important;
  margin-top: -30px;
}

.pt-owner-info {
  .pt-ownerinfo-title {
    margin-left: 23px;
  }
  .dropdown {
    width: 100% !important;
  }
  .owner-details-form {
    display: flex;
    justify-content: space-between;
    padding: 2px 30px 1px 31px;
    .name-address {
      width: 40%;
    }
    .other-details {
      width: 40%;
      .relationship-details {
        display: flex;
        justify-content: space-between;
        margin-bottom: 14px;
        .dropdown {
          margin-left: 11%;
        }
      }
    }
  }
  .property-corr {
    // margin-top: -29px;
    // margin-left: -4px;
    margin-left: 12px;
    label {
      color: rgb(72, 72, 72) !important;
      font-weight: 500;
    }
  }
}

.pt-institute-authority-info {
  margin-left: 25px;
  .pt-authority-title {
    display: flex;
    span:nth-of-type(2) {
      margin-top: 2px;
      margin-left: 5px;
    }
  }
  .authority-details-form {
    display: flex;
    .name-address {
      .textfield {
        width: 117% !important;
      }
    }
    .address {
      margin-left: 130px;
    }
    .property-corr {
      > div {
        margin-top: 2px !important;
      }
      label {
        color: rgb(72, 72, 72) !important;
        font-weight: 500;
      }
    }
  }
}

.breadcrumb {
  padding: 0;
}

.pt-add-owner-btn {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  color: #fe7a51;
}

.grayout {
  box-shadow: none;
  background-color: #f6f6f6 !important;
}

.review-pay-tab {
  .dropdown > div > div {
    div:nth-of-type(2) {
      color: rgb(72, 72, 72) !important;
    }
  }
  .textfield {
    div:nth-of-type(1) {
      opacity: 0 !important;
    }
  }
  .autosuggest {
    input {
      color: rgb(72, 72, 72) !important;
    }
  }
  input[type="radio"] {
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    border: 1px solid grey;
    border-radius: 50%;
    outline: none;
  }

  input[type="radio"]:before {
    content: "";
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
  }

  input[type="radio"]:checked {
    border: 1px solid #fe7a51;
  }

  input[type="radio"]:checked:before {
    background: #fe7a51;
  }

  .rainmaker-card {
    .rainmaker-card {
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }
  }
}

.propertyAddress {
  .textfield-text div {
    width: 55px;
    color: #fe7a51 !important;
    margin-right: 12px !important;
  }
}

.checkbox-container > div > div > div {
  margin-right: 4px !important;
  div > svg:nth-of-type(2) {
    fill: #fe7a51 !important;
  }
}

.pt-floor-name {
  div > div {
    div:nth-of-type(2) {
      color: rgb(72, 72, 72) !important;
    }
  }
}
// input[type='radio']:checked:after {
//   background-color: #fe7a51;
//   content: '';
// }

.remove-unit-assessment {
  float: right;
}
