.wizard-form-main-cont {
  padding: 0;
  position: relative;
}

.owner-gender-selection {
  display: flex;
}

.pt-ownerinfo-deletebtn {
  float: right !important;
  margin-top: -30px;
}

.pt-owner-info {
  .pt-ownerinfo-title {
    margin-left: 23px;
  }
  .dropdown {
    width: 100% !important;
  }
  .owner-details-form {
    display: flex;
    justify-content: space-between;
    padding: 2px 30px 1px 31px;
    .name-address {
      width:40%;
    }
    .other-details {
      width: 40%;
      .relationship-details {
        display: flex;
        justify-content: space-between;
        margin-bottom: 14px;
        .dropdown {
          margin-left: 11%;
        }
      }
    }
  }
  .property-corr {
    margin-top: -29px;
    margin-left: -4px;
    label {
      color: rgb(72, 72, 72) !important;
      font-weight: 500;
    }
  }
}

.pt-institute-authority-info {
  margin-left: 25px;
  .pt-authority-title {
    display: flex;
    span:nth-of-type(2) {
      margin-top: 2px;
      margin-left: 5px;
    }
  }
  .authority-details-form {
    display: flex;
    .name-address {
      .textfield {
        width: 117% !important;
      }
    }
    .address {
      margin-left: 130px;
    }
  }
}

.breadcrumb {
  padding: 0;
}

.pt-add-owner-btn {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  color: #fe7a51;
}

.grayout {
  box-shadow: none;
  background-color: #f6f6f6 !important;
}

.review-pay-tab {
  .dropdown > div > div {
    div:nth-of-type(2) {
      color: rgb(72, 72, 72) !important;
    }
  }
}

.propertyAddress {
  .textfield-text div {
    width: 55px;
    color: #fe7a51 !important;
    margin-right: 12px !important;
  }
}
