.wizard-form-main-cont {
  padding: 0;
  position: relative;
}

.owner-gender-selection {
  display: flex;
}

.pt-ownerinfo-deletebtn {
  float: right !important;
  margin-top: -30px;
  display: none;
}

.pt-owner-info {
  &:hover {
    .pt-ownerinfo-deletebtn {
      display: block;
    }
  }
}
