.actionMenuSearchBox {
  background-color: #3d4951 !important;
  color: white;
  height: 40px !important;
  margin-top: 22px;
}

.whiteColor {
  color: white !important;
}

.pointerCursor {
  cursor: pointer;
}

.actionMenuFibreIcon {
  width: 8px;
  height: 8px;
}
.actionMenuMenu {
  display: inline-block !important;
  width: 100%;
}

.custom-style-for-send {
  transform: rotate(-20deg);
}


.sideMenuItem:hover{
  background-color: rgba(254, 122, 81, 0.11999999731779099);

  div:nth-of-type(1) > span > div > div > div > span{
    color:#FE7A51 !important;
  }
}



