.profileFormContainer {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  padding: 8px;
}

.profileBtn {
  height: 48px;
  padding: 0 8px 0 8px;
  box-shadow: none !important;
}

.profileBtnWrapper {
  position: fixed;
  width: 100%;
  bottom: 12px;
  left: 0px;
}

.profileContainer {
  position: relative;
}

.profile-form-field > label {
  color: #03b0c6 !important;
}

.profileContainer {
  position: relative;
}
