/* .aboutSection .leftSection {
	width: 40%;
	margin-left: 1px;
	margin-right: 20px;
} */
/* .aboutSection .rightSection div {
	max-width: 628px;
	margin-bottom: -4px;
} */
body {
	margin: 0
}

.aboutSection .leftSection .imgWrapper {
	position: 'relative';
}
.aboutSection .leftSection .innerImg img {
	width: 380px;
	Height: 431px;
	position: absolute;
}
.aboutSection .leftSection .upperImg img {
	width: 380px;
	height: 273px;
	position: absolute;
	margin-left: 100px;
	margin-top: 150px;
	border: 6px solid #ffffff;
}

.combine {
	margin-left: 16px;
}

@media only screen and (max-width: 600px) {
	.combine {
		margin-left: 0;
	}
}



/*css for What new component*/
