.stepLabelAlignment {
  margin-left: -117px !important;
  text-align: left;
}


.leftOverRide {
  width:70% !important;
}

.rightOverRide {
  width:30% !important;
}

.complaintTimeLineContainer {
  margin-left: 30%;
}


.complaint-timeline-content-section {
  margin-left: 25px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 26px;
}

.complaint-timeline-content-section strong {
  color: #484848
}

.complaint-timeline-content-section span {
  color: #767676
}

/* @media screen and (min-width: 360px) and (max-width: 375px) {
  .stepLabelAlignment {
      margin-left: -80px;
      text-align: left;
  }
  .leftOverRide {
    width:80%;
  }
  .rightOverRide {
    width:20%
  }
}

@media screen and (min-width: 412px) and (max-width: 1200px) {
  .stepLabelAlignment {
      margin-left: -112px;
      text-align: left;
  }
  .leftOverRide {
    width:80%;
  }
  .rightOverRide {
    width:20%
  }
}

@media screen and (min-width: 375px) and (max-width: 412px) {
  .stepLabelAlignment {
      margin-left: -90px;
      text-align: left;
  }
  .leftOverRide {
    width:80%;
  }
  .rightOverRide {
    width:20%
  }
}

@media screen and (min-width: 1200px) {
  .stepLabelAlignment {
      margin-left: -113px;
      text-align: left;
  }
  .leftOverRide {
    width:70%;
  }
  .rightOverRide {
    width:30%
  }
} */
