.feedback-ratings-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0 24px 0;
}

.feedback-popup-button-cont {
  margin-top: 30px;
}

.feedback-checkbox-cont {
  margin-bottom: 10px;
}

.what-was-good {
  text-align: center;
  display: block;
  margin-bottom: 16px;
  letter-spacing: 0.6px;
}

.feedback-ratings span:last-child {
  margin: 0 !important;
}

.feedback-submitted-icon-cont,
.feedback-thankyou-text {
  text-align: center;
  margin-top: 24px;
}

.feedback-thankyou-text .label-text {
  letter-spacing: 0.7px;
}
