.upload-photo-overlay {
  background: #d8d8d8;
  padding: 37px 0;
  text-align: center;
}

.upload-icon-cont {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background: #484848;
  display: inline-block;
  padding: 5px 0;
  margin-bottom: 5px;
}

.upload-photo-overlay .label-container {
  line-height: 1;
}
