.complaint-submitted-card {
  text-align: center;
  background-color: #ffffff;
  padding: 130px 8px 200px 8px !important;
}
.complaint-submitted-boldlabel {
  padding-top: 20px;
}
.complaint-submitted-boldlabel .label-text {
  color: #484848;
  font-weight: 500;
  margin-bottom: 20px;
}
.complaint-submitted-label .label-text {
  padding: 0px 50px 24px 50px;
}
.complaintsubmit-button {
  position: fixed;
  width: 100%;
  bottom: 16px;
  padding-right: 16px;
}
