.complaint-submitted-card {
  text-align: center;
  margin: 130px 8px 100px 8px;
}
.complaint-submitted-boldlabel {
  padding-top: 20px;
}
.complaint-submitted-boldlabel .label-text {
  color: #484848;
  font-weight: 500;
  margin-bottom: 20px;
}
.complaint-submitted-label .label-text {
  padding: 0px 50px 24px 50px;
}
.zeropadding {
  padding: 0px !important;
}
