.complaint-submitted-card {
  text-align: center;
  margin-top: 130px;
  margin-left: 10px;
  margin-right: 10px;
}
.complaint-submitted-boldlabel {
  padding-top: 10px;
}
.complaint-submitted-boldlabel .label-text {
  color: #484848;
  font-weight: 500;
  margin-bottom: 20px;
}
.complaint-submitted-label .label-text {
  padding-right: 50px;
  padding-left: 50px;
}
