.user-screens-wrapper {
  width: 100%; }

.banner-image,
.banner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; }

.banner-back-button {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 1;
  color: #fff !important; }

.banner-overlay {
  background: rgba(61, 89, 107, 0.75); }

.banner-image {
  background-image: url(../../../assets/images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.logo-wrapper {
  position: fixed;
  width: 100%;
  top: 50px;
  padding: 10px; }
  .logo-wrapper .imageloader {
    text-align: center;
    margin: 0 auto;
    width: 200px; }

.mseva-logo {
  display: block;
  margin: 0 auto; }

.user-screens-wrapper .user-screens-card {
  position: fixed;
  bottom: 10px;
  left: 8px;
  right: 8px;
  padding: 24px 16px;
  overflow-y: scroll;
  overflow-x: hidden; }

@media only screen and (min-width: 768px) {
  .user-screens-wrapper {
    height: 100vh; }
  .user-logo-wrapper {
    display: none; }
  .banner-logo-home .user-logo-wrapper {
    display: block !important; }
  .banner-overlay {
    background: transparent; }
  .banner-image,
  .banner-overlay {
    background-image: url(../../../assets/images/Banner_image.jpg);
    position: absolute;
    height: 100%; }
  .logo-wrapper {
    position: absolute; }
  .user-screens-wrapper .user-screens-card {
    position: absolute;
    bottom: 175px;
    overflow-y: unset; } }
