.banner-overlay {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba();
  width: 100%;
  height: 100%;
  background: rgba(61, 89, 107, 0.85);
}

.banner-image {
  position: relative;
  background-image: url(../../../assets/images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.logo-wrapper {
  position: fixed;
  width: 100%;
  top: 50px;
  padding: 10px;
}

.mseva-logo {
  width: 60%;
  display: block;
  margin: 0 auto;
}

.user-screens-wrapper .user-screens-card {
  position: absolute !important;
  bottom: 10px;
  left: 8px;
  right: 8px;
  padding: 16px !important;
}
