.moduleCardTitle,
.moduleCardDescription {
  padding: 0;
  margin: 0;
}
.moduleCardTitle div {
  font-size: 20px !important;
  letter-spacing: 0.5px;
  color: #000000;
  padding: 12px 0px;
}
.moduleCardDescription div {
  font-size: 14px !important;
  letter-spacing: 0.5px;
  padding-top: 5px;
  padding-bottom: 32px;
  color: #767676;
}
.moduleSecondButton {
  box-shadow: 0px 0px 0px #fff;
}
.moduleSecondButton div span {
  color: #fe7a51 !important;
}
