.feedback-info-item-container {
  padding-bottom: 20px;
}

.feedback-info-item-container:last-child {
  padding: 0;
}

.feedback-info-label-container,
.feedback-info-value-container {
  display: inline-block;
  width: 57.5%;
}

.feedback-info-value-container {
  width: 42.5%;
}

.feedback-info-label-container span,
.feedback-info-value-container span {
  letter-spacing: 0.3px;
}

.feedback-info-label-container span {
  color: #969696;
}

.feedback-info-value-container span {
  color: #484848;
}
