.feedback-info-item-container {
  padding-bottom: 17px;
}

.feedback-info-item-container:last-child {
  padding: 0;
}

.feedback-info-label-container,
.feedback-info-value-container {
  display: inline-block;
  width: 57.5%;
}

.feedback-info-value-container {
  width: 42.5%;
}

.feedback-info-label-container span,
.feedback-info-value-container span {
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.7px;
}

.feedback-info-label-container span {
  color: #969696;
}

.feedback-info-value-container span {
  color: #484848;
}
